############
## MikTex outputs
############
/documentation/build/
/documentation/*.aux
/documentation/*.lof
/documentation/*.log
/documentation/*.out
/documentation/*.synctex.gz
/documentation/*.toc
/documentation/*.pdf

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini
