<module uid="00bc42d0-0000-19fb-0000-000000000000" name="SysMLArchitect" class="com.modeliosoft.modelio.sysml.impl.SysMLMdac" version = '2.1.12.8021' binaryversion = '2.2.01.8021' licenseRequired = 'false'>
  <classpath>
    <entry path = 'lib/SysMLArchitect.jar'/>
  </classpath>
  <profile uid="00bc42a4-0000-1968-0000-000000000000" name="sysml" >
    <anonymous-stereotype uid="00bc42a4-0000-1a1a-0000-000000000000" metaclass="ModelElement" >
      <notetype uid="00bc42a4-0000-1a1f-0000-000000000000" name="Problem" label="" is-hidden="false" />
      <notetype uid="00bc42a4-0000-1a24-0000-000000000000" name="Rationale" label="" is-hidden="false" />
    </anonymous-stereotype>
    <anonymous-stereotype uid="91ccb3a5-f8b3-11df-9c18-0027103f347c" metaclass="Pin" >
      <taggedvalues uid="a5e653ca-f8b3-11df-9c18-0027103f347c" name="isStream" label="" parameter-card="0" is-hidden="true" is-signed="false" />
    </anonymous-stereotype>
    <anonymous-stereotype uid="ff1fd912-5484-11e0-b794-0027103f347c" metaclass="Port" >
      <taggedvalues uid="04c83455-5485-11e0-b794-0027103f347c" name="isConjugated" label="" parameter-card="0" is-hidden="true" is-signed="false" />
    </anonymous-stereotype>
    <stereotype uid="00bc42a4-0000-19b2-0000-000000000000" name="Allocate" label="allocate" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42d0-0001-803e-0000-000000000000" name="AllocateActivityPartition" label="AllocateActivityPartition" metaclass="ActivityPartition" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19b8-0000-000000000000" name="Allocated" label="Allocated" metaclass="ModelElement" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
      <taggedvalues uid="6e7af61c-3a73-11e0-a52b-0027103f347c" name="Allocated_allocatedTo" label="allocatedTo" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="7cbe081c-3a73-11e0-a52b-0027103f347c" name="Allocated_allocatedFrom" label="allocatedFrom" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-19c3-0000-000000000000" name="BindingConnector" label="BindingConnector" metaclass="Connector" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19c9-0000-000000000000" name="Block" label="Block" metaclass="Class" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/block.png" />
        <explorer path="SysMLArchitect/res/bmp/block.png" />
        <diagram path="SysMLArchitect/res/bmp/block48.png" />
      </icons>
      <taggedvalues uid="00bc42a4-0000-19d1-0000-000000000000" name="Block_isEncapsulated" label="isEncapsulated" parameter-card="0" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a27-0000-000000000000" name="Conform" label="Conform" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19d4-0000-000000000000" name="ConnectorProperty" label="ConnectorProperty" metaclass="BindableInstance" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/connectorproperty.png" />
        <explorer path="SysMLArchitect/res/bmp/connectorproperty.png" />
        <diagram path="SysMLArchitect/res/bmp/connectorproperty.png" />
      </icons>
      <taggedvalues uid="d49db246-fd49-11df-aca6-0027103f347c" name="ConnectorProperty_connector" label="connector" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="775fe859-2eb7-11e0-8df2-0027103f347c" name="ConnectorPropertyConnector" label="ConnectorPropertyConnector" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a0b-0000-000000000000" name="ConstraintBlock" label="constraint" metaclass="Class" owner-stereotype="Block" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/constraintblock.png" />
        <explorer path="SysMLArchitect/res/bmp/constraintblock.png" />
        <diagram path="SysMLArchitect/res/bmp/constraintblock48.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a11-0000-000000000000" name="ConstraintProperty" label="constraint" metaclass="BindableInstance" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/constraintproperty.png" />
        <explorer path="SysMLArchitect/res/bmp/constraintproperty.png" />
        <diagram path="SysMLArchitect/res/bmp/constraintproperty.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1971-0000-000000000000" name="Continuous_ActivityEdge" label="continuous" metaclass="ActivityEdge" owner-stereotype="Rate_ActivityEdge" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/continuous.png" />
        <explorer path="SysMLArchitect/res/bmp/continuous.png" />
        <diagram path="SysMLArchitect/res/bmp/continuous.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-196b-0000-000000000000" name="Continuous_Parameter" label="continuous" metaclass="Parameter" owner-stereotype="Rate_Parameter" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/continuousparameter.png" />
        <explorer path="SysMLArchitect/res/bmp/continuousparameter.png" />
        <diagram path="SysMLArchitect/res/bmp/continuousparameter.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1977-0000-000000000000" name="ControlOperator_Behavior" label="ControlOperator" metaclass="Behavior" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-197d-0000-000000000000" name="ControlOperator_Operation" label="ControlOperator" metaclass="Operation" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="be28d08c-18a1-11e0-8e7b-0027103f347c" name="Copy" label="Copy" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/copy.png" />
        <explorer path="SysMLArchitect/res/bmp/copy.png" />
        <diagram path="SysMLArchitect/res/bmp/copy.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19da-0000-000000000000" name="Dimension" label="" metaclass="Instance" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1987-0000-000000000000" name="Discrete_ActivityEdge" label="Discrete" metaclass="ActivityEdge" owner-stereotype="Rate_ActivityEdge" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/discrete.png" />
        <explorer path="SysMLArchitect/res/bmp/discrete.png" />
        <diagram path="SysMLArchitect/res/bmp/discrete.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1982-0000-000000000000" name="Discrete_Parameter" label="Discrete" metaclass="Parameter" owner-stereotype="Rate_Parameter" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/discreteparameter.png" />
        <explorer path="SysMLArchitect/res/bmp/discreteparameter.png" />
        <diagram path="SysMLArchitect/res/bmp/discreteparameter.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19df-0000-000000000000" name="DistributedProperty" label="" metaclass="Attribute" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/distributedproperty.png" />
        <explorer path="SysMLArchitect/res/bmp/distributedproperty.png" />
        <diagram path="SysMLArchitect/res/bmp/distributedproperty.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a57-0000-000000000000" name="FlowPort" label="FlowPort" metaclass="Port" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/flowport_inout.png" />
        <explorer path="" />
        <diagram path="SysMLArchitect/res/bmp/flowport_inoutdiagram.png" />
      </icons>
      <taggedvalues uid="00bc42a4-0000-1a5f-0000-000000000000" name="FlowPort_direction" label="direction" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="00bc42a4-0000-1a64-0000-000000000000" name="FlowPort_isAtomic" label="isAtomic" parameter-card="0" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a6c-0000-000000000000" name="FlowProperty" label="" metaclass="Feature" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
      <taggedvalues uid="00bc42a4-0000-1a74-0000-000000000000" name="FlowProperty_direction" label="direction" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="2c8f7fbb-f63f-11e0-9b85-0027103f347c" name="FlowPort_In" label="FlowPort" metaclass="Port" owner-stereotype="FlowPort" is-hidden="false"> 
      <icons>
        <small path="" />
        <explorer path="SysMLArchitect/res/bmp/flowport_in.png" />
        <diagram path="" />
      </icons>
      </stereotype>  
    <stereotype uid="6f084d8e-f63f-11e0-9b85-0027103f347c" name="FlowPort_InOut" label="FlowPort" metaclass="Port" owner-stereotype="FlowPort" is-hidden="true">
          <icons>
        <small path="" />
        <explorer path="SysMLArchitect/res/bmp/flowport_inout.png" />
        <diagram path="" />
      </icons>
      </stereotype>
    <stereotype uid="6f3ddc7e-f63f-11e0-9b85-0027103f347c" name="FlowPort_Out" label="FlowPort" metaclass="Port" owner-stereotype="FlowPort" is-hidden="true">
          <icons>
        <small path="" />
        <explorer path="SysMLArchitect/res/bmp/flowport_out.png" />
        <diagram path="" />
      </icons>
      </stereotype>
    <stereotype uid="00bc42a4-0000-1a77-0000-000000000000" name="FlowSpecification" label="" metaclass="Interface" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/flowspecification.png" />
        <explorer path="SysMLArchitect/res/bmp/flowspecification.png" />
        <diagram path="SysMLArchitect/res/bmp/flowspecification48.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42d0-0001-380b-0000-000000000000" name="ItemFlow" label="" metaclass="InformationFlow" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/itemflow.png" />
        <explorer path="SysMLArchitect/res/bmp/itemflow.png" />
        <diagram path="SysMLArchitect/res/bmp/itemflow.png" />
      </icons>
      <taggedvalues uid="f6c829c6-34ef-11e0-8a40-0027103f347c" name="ItemFlow_itemProperty" label="itemProperty" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="684f2c73-379f-11e0-95ae-0027103f347c" name="ItemProperty" label="ItemProperty" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19e5-0000-000000000000" name="NestedConnectorEnd" label="" metaclass="ConnectorEnd" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
      <taggedvalues uid="00bc42a4-0000-19ed-0000-000000000000" name="NestedConnectorEnd_propertyPath" label="propertyPath" parameter-card="*" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="77d7e3c1-2eb7-11e0-8df2-0027103f347c" name="NestedConnectorEndPropertyPath" label="NestedConnectorEndPropertyPath" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-198d-0000-000000000000" name="NoBuffer" label="NoBuffer" metaclass="ObjectNode" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1992-0000-000000000000" name="Optional" label="Optional" metaclass="Parameter" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/optional.png" />
        <explorer path="SysMLArchitect/res/bmp/optional.png" />
        <diagram path="SysMLArchitect/res/bmp/optional.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1997-0000-000000000000" name="Overwrite" label="Overwrite" metaclass="ObjectNode" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="e6114e98-2eb8-11e0-8f32-0027103f347c" name="ParticipantPropertyEnd" label="ParticipantPropertyEnd" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19ef-0000-000000000000" name="ParticipantProperty_AssociationEnd" label="ParticipantProperty" metaclass="AssociationEnd" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
      <taggedvalues uid="ce7e9f75-fd49-11df-aca6-0027103f347c" name="ParticipantProperty_AssociationEnd_end" label="end" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="be4f9250-fe30-11df-a577-0027103f347c" name="ParticipantProperty_BindableInstance" label="ParticipantProperty" metaclass="BindableInstance" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/participantproperty.png" />
        <explorer path="SysMLArchitect/res/bmp/participantproperty.png" />
        <diagram path="SysMLArchitect/res/bmp/participantproperty.png" />
      </icons>
      <taggedvalues uid="be4f9251-fe30-11df-a577-0027103f347c" name="ParticipantProperty_BindableInstance_end" label="end" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42d0-0001-3805-0000-000000000000" name="Probability" label="Probability" metaclass="ActivityEdge" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/probability.png" />
        <explorer path="SysMLArchitect/res/bmp/probability.png" />
        <diagram path="SysMLArchitect/res/bmp/probability.png" />
      </icons>
      <taggedvalues uid="8ceeb68d-c25e-11df-b322-001302895b2b" name="Probability_probability" label="probability" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-19f5-0000-000000000000" name="PropertySpecificType" label="" metaclass="Classifier" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="d0c2eab1-c19f-11df-b3ac-001302895b2b" name="QuantityKind" label="" metaclass="Instance" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/quantitykind.png" />
        <explorer path="SysMLArchitect/res/bmp/quantitykind.png" />
        <diagram path="SysMLArchitect/res/bmp/quantitykind48.png" />
      </icons>
      <taggedvalues uid="d0c2eab2-c19f-11df-b3ac-001302895b2b" name="QuantityKind_symbol" label="symbol" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="d0c2eab3-c19f-11df-b3ac-001302895b2b" name="QuantityKind_description" label="description" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="d0c2eab4-c19f-11df-b3ac-001302895b2b" name="QuantityKind_descriptionURI" label="descriptionURI" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-19a7-0000-000000000000" name="Rate_ActivityEdge" label="Rate" metaclass="ActivityEdge" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/rate.png" />
        <explorer path="SysMLArchitect/res/bmp/rate.png" />
        <diagram path="SysMLArchitect/res/bmp/rate.png" />
      </icons>
      <taggedvalues uid="a1603d72-77f2-11e1-bff7-0027103f347d" name="Rate_ActivityEdge_rate" label="rate" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-19a2-0000-000000000000" name="Rate_Parameter" label="Rate" metaclass="Parameter" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/rateparameter.png" />
        <explorer path="SysMLArchitect/res/bmp/rateparameter.png" />
        <diagram path="SysMLArchitect/res/bmp/rateparameter.png" />
      </icons>
      <taggedvalues uid="b6d505f2-77f2-11e1-bff7-0027103f347d" name="Rate_Parameter_rate" label="rate" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="55b2731f-a90d-11df-a01f-001302895b2b" name="RequirementRelated" label="RequirementRelated" metaclass="ModelElement" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42d0-0000-056f-0000-000000000000" name="TestCase_Behavior" label="TestCase" metaclass="Behavior" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42d0-0000-0569-0000-000000000000" name="TestCase_Operation" label="TestCase" metaclass="Operation" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/testcase.png" />
        <explorer path="SysMLArchitect/res/bmp/testcase.png" />
        <diagram path="SysMLArchitect/res/bmp/testcase.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-19fa-0000-000000000000" name="Unit" label="" metaclass="Instance" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/unit.png" />
        <explorer path="SysMLArchitect/res/bmp/unit.png" />
        <diagram path="SysMLArchitect/res/bmp/unit48.png" />
      </icons>
      <taggedvalues uid="a8023330-c19c-11df-a585-001302895b2b" name="Unit_symbol" label="symbol" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="aec06234-c19c-11df-a585-001302895b2b" name="Unit_description" label="description" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="af1afc02-c19c-11df-a585-001302895b2b" name="Unit_descriptionURI" label="descriptionURI" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="af86465b-c19c-11df-a585-001302895b2b" name="Unit_quantityKind" label="quantityKind" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="e002f3a2-c234-11df-83b7-001302895b2b" name="UnitQuantityKind" label="UnitQuantityKind" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a00-0000-000000000000" name="ValueType" label="" metaclass="DataType" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/valuetype.png" />
        <explorer path="SysMLArchitect/res/bmp/valuetype.png" />
        <diagram path="SysMLArchitect/res/bmp/valuetype48.png" />
      </icons>
      <taggedvalues uid="1a60c02f-fded-11df-a577-0027103f347c" name="ValueType_unit" label="unit" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="441441ef-fded-11df-a577-0027103f347c" name="ValueType_quantityKind" label="quantityKind" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="1fcbb38d-fded-11df-a577-0027103f347c" name="ValueTypeUnit" label="ValueTypeUnit" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="3032b3d9-fded-11df-a577-0027103f347c" name="ValueTypeQuantityKind" label="ValueTypeQuantityKind" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="6b54f1d4-7806-11e1-bff7-0027103f347d" name="Rate" label="Rate" metaclass="Dependency" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a2d-0000-000000000000" name="View" label="" metaclass="Package" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/view.png" />
        <explorer path="SysMLArchitect/res/bmp/view.png" />
        <diagram path="SysMLArchitect/res/bmp/view48.png" />
      </icons>
      <taggedvalues uid="d4e24361-c168-11df-a585-001302895b2b" name="View_viewpoint" label="viewpoint" parameter-card="1" is-hidden="true" is-signed="false" />
    </stereotype>
    <stereotype uid="00bc42a4-0000-1a33-0000-000000000000" name="Viewpoint" label="" metaclass="Class" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/viewpoint.png" />
        <explorer path="SysMLArchitect/res/bmp/viewpoint.png" />
        <diagram path="SysMLArchitect/res/bmp/viewpoint48.png" />
      </icons>
      <taggedvalues uid="00bc42a4-0000-1a40-0000-000000000000" name="Viewpoint_concerns" label="concerns" parameter-card="*" is-hidden="true" is-signed="false" />
      <taggedvalues uid="00bc42a4-0000-1a45-0000-000000000000" name="Viewpoint_languages" label="languages" parameter-card="*" is-hidden="true" is-signed="false" />
      <taggedvalues uid="00bc42a4-0000-1a4a-0000-000000000000" name="Viewpoint_methods" label="methods" parameter-card="*" is-hidden="true" is-signed="false" />
      <taggedvalues uid="00bc42d0-0000-0395-0000-000000000000" name="Viewpoint_purpose" label="purpose" parameter-card="1" is-hidden="true" is-signed="false" />
      <taggedvalues uid="00bc42a4-0000-1a4f-0000-000000000000" name="Viewpoint_stakeholders" label="stakeholders" parameter-card="*" is-hidden="true" is-signed="false" />
    </stereotype>
  </profile>
  <profile uid="00bc42ac-0000-1013-0000-000000000000" name="sysml.diagrams" >
    <stereotype uid="00bc42ac-0000-1016-0000-000000000000" name="BlockDiagram" label="" metaclass="StaticDiagram" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/blockdiagram.png" />
        <explorer path="SysMLArchitect/res/bmp/blockdiagram.png" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42ac-0000-11b9-0000-000000000000" name="InternalBlockDiagram" label="" metaclass="StaticDiagram" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/internalblockdiagram.png" />
        <explorer path="SysMLArchitect/res/bmp/internalblockdiagram.png" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="24c648f8-d57b-11e0-8ec9-0027103f347c" name="PackageDiagram" label="" metaclass="StaticDiagram" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/packagediagram.png" />
        <explorer path="SysMLArchitect/res/bmp/packagediagram.png" />
        <diagram path="SysMLArchitect/res/bmp/packagediagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42ac-0000-11be-0000-000000000000" name="ParametricDiagram" label="" metaclass="StaticDiagram" owner-stereotype="InternalBlockDiagram" is-hidden="false">
      <icons>
        <small path="SysMLArchitect/res/bmp/parametricdiagram.png" />
        <explorer path="SysMLArchitect/res/bmp/parametricdiagram.png" />
        <diagram path="SysMLArchitect/res/bmp/parametricdiagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="00bc42d0-0000-c661-0000-000000000000" name="SysMLDiagram" label="" metaclass="AbstractDiagram" is-hidden="false">
      <icons>
        <small path="" />
        <explorer path="" />
        <diagram path="" />
      </icons>
    </stereotype>
    <stereotype uid="374ff012-d57b-11e0-8ec9-0027103f347c" name="SysMLActivityDiagram" label="" metaclass="ActivityDiagram" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/sysmlactivitydiagram.png" />
        <explorer path="SysMLArchitect/res/bmp/sysmlactivitydiagram.png" />
        <diagram path="SysMLArchitect/res/bmp/sysmlactivitydiagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="44026286-d57b-11e0-8ec9-0027103f347c" name="SysMLRequirementDiagram" label="" metaclass="StaticDiagram" is-hidden="true" owner-stereotype="requirement_diagram">
      <icons>
        <small path="SysMLArchitect/res/bmp/sysmlrequirementdiagram.png" />
        <explorer path="SysMLArchitect/res/bmp/sysmlrequirementdiagram.png" />
        <diagram path="SysMLArchitect/res/bmp/sysmlrequirementdiagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="0691339b-d7d7-11e0-9a40-0027103f347c" name="SysMLSequenceDiagram" label="" metaclass="SequenceDiagram" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/sysmlsequencediagram.png" />
        <explorer path="SysMLArchitect/res/bmp/sysmlsequencediagram.png" />
        <diagram path="SysMLArchitect/res/bmp/sysmlsequencediagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="0fd7b4e3-d7d7-11e0-9a40-0027103f347c" name="SysMLStateMachineDiagram" label="" metaclass="StateMachineDiagram" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/sysmlstatemachinediagram.png" />
        <explorer path="SysMLArchitect/res/bmp/sysmlstatemachinediagram.png" />
        <diagram path="SysMLArchitect/res/bmp/sysmlstatemachinediagram.png" />
      </icons>
    </stereotype>
    <stereotype uid="1a667602-d7d7-11e0-9a40-0027103f347c" name="SysMLUseCaseDiagram" label="" metaclass="UseCaseDiagram" is-hidden="true">
      <icons>
        <small path="SysMLArchitect/res/bmp/sysmlusecasediagram.png" />
        <explorer path="SysMLArchitect/res/bmp/sysmlusecasediagram.png" />
        <diagram path="SysMLArchitect/res/bmp/sysmlusecasediagram.png" />
      </icons>
    </stereotype>
  </profile>
  <dependencies>
    <optional name="Analyst" version = "1.1.04.8006"/>
  </dependencies>
  <docpath>
    <entry path = "doc/com.modeliosoft.modelio.documentation.sysml.jar"/>
  </docpath>
</module>